<div *ngIf="loading">
    <div class="d-flex justify-content-center">
        <div class="spinner-border" role="status"></div>
    </div>
</div>
<div *ngIf="!loading" class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <post-info />
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <post-column [showOddPosts]="true" columnTitle="Odd posts" />
        </div>
        <div class="col-md-6">
            <post-column [showOddPosts]="false" columnTitle="Even posts" />
        </div>
    </div>
</div>
